extends ../../../src/views/base.pug

block contents
	h1 Whoops
	p There was an error! Doh! Have another go
	span #{ error }
	.form-group
		button(onclick="window.history.back()", role='button').btn.btn-primary Go back
	script.
		setTimeout(function () {
			window.location.href = "/"
		},5000)
