extends ../../../src/views/base.pug

block contents
	.row
		.col-md-6
			.page-header
				h1 Enroll a new tag
			p That tag isn't associated with a South London Makerspace account. Enter your email here to start the process of linking it to your Account
			form( method='POST' )#enrollForm
				include ../../../src/views/partials/csrf.pug
				.form-group
					label(for='email')
					input(type='text', placeholder='type your email address in and press enter', active, name='email')#email.form-control
				.form-group
					button(role='button').btn.btn-primary Link to My Account
