extends ../../../src/views/base.pug

block contents
	.row

		.col-md-9
			.page-header
				h1 Hi, #{ identity.firstname } #{ identity.lastname }
		.col-md-3
			img( src=identity.gravatar )
	.row
		.col-md-12
			.list-group
					//a(href="/photoprint/" + hash ).list-group-item.list-group-item-action 
						h4.text-center Print member photo
					//a(href="#" + hash ).list-group-item.list-group-item-action 
						h4.text-center Pay for something
					//a(href="#" + hash ).list-group-item.list-group-item-action 
						h4.text-center Give Reward Points
					a(href="/" ).list-group-item.list-group-item-action 
						h4.text-center Log Out
