extends base.pug

block prepend title
	- title = "Whoops!"
	- heading = "Whoops..."

block contents
	p That's not something that this kiosk can do yet! Sorry!
	script.
		setTimeout(function() {
			window.location.href = "/"
		},10000)
