extends base.pug

block prepend title
	- title = "Error 500"
	- heading = "500: Server Error"

block contents
	p Something went horribly wrong. Sorry :/ 
	if error
		.page-header
			h3 Error:
			pre #{ error }
	script.
		setTimeout(function() {
			window.location.href = "/"
		},5000)
