extends ../../../src/views/base.pug

block contents

	.page-header
		h1 Make a donation
		ul
			li
				a(href="/payment/donate?amount=100") £1.00
			li
				a(href="/payment/donate?amount=100") £5.00
			li
				a(href="/payment/donate?amount=100") £10.00
		
